:root {
    --white: #ffffff;
    --gray:  #3f3f3f;
    --black: #000000;
    --green: #353b33;
    --primary-color: #000000;
    --secondary-color: #101a35;
    --tertiary-color: #6f9465;
    --light-tertiary-color: #cccccc;
    --text-color: #343d48;
    --font-family: 'DM Sans', sans-serif;
  }
  