#advogados {
    padding: 60px 20px;
    background-color: var(--light-tertiary-color);
    /* Fundo suave */
    border-top: 4px solid var(--gold);
    /* Dourado para um toque sofisticado */
}

.advogado__grupo {
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    color: var(--secondary-color);
    /* Azul escuro ou outra cor que combine com o logo */
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    /* Sombra suave no título */
}

.advogado__lista {
    list-style: none;
    padding: 0;
    margin: 0 auto 4rem auto;
    max-width: 80rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    /* Maior espaço entre os itens */
    justify-content: center;
}

.advogado__lista li {
    flex: 0 1 calc(33.333% - 2rem);
    /* Limita a largura para 3 itens por linha */
    box-sizing: border-box;
}

.advogado__lista li a {
    font-size: 1.6rem;
    color: var(--text-color);
    /* Cor de texto suave */
    text-decoration: none;
    padding: 0.5rem 0;
    /* Ajuste no padding */
    border-bottom: 2px solid transparent;
    /* Linha invisível abaixo do nome */
    transition: all 0.3s ease-in-out;
    display: block;
    text-align: center;
}

.advogado__lista li a:hover {
    color: var(--text-color);
    /* Cor do texto permanece igual */
    border-bottom: 2px solid var(--gold);
    /* Linha dourada ao passar o mouse */
    transform: translateY(-3px);
    /* Leve elevação do item */
}

.advogado__lista li a:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(212, 175, 55, 0.5);
    /* Foco dourado */
}