footer {
  background-color: var(--green);
  margin: 0;
  padding: 0;
}

footer .footer__content {
  text-align: center;
  padding: 2rem 3rem 1rem;
  max-width: 70rem;
  margin: 0 auto;
}

footer .footer__content .footer__contact span {
  display: block;
  font-weight: 500;
  margin: 0; 
}

footer .footer__content ul li {
  display: inline-block;
  margin: 3rem 0 3rem; 
  padding: 0; 

}

footer .footer__content ul li img {
  margin-top: -1rem;
  margin-bottom: -3rem;
}

footer .footer__content .footer__copyright {
  font-size: 1.4rem;
  margin: 0; 
  padding: 0; 
}

iframe {
  width: 85%;
  height: 300px;
  border: none;
  margin-top: 2rem;
}

footer .footer__link {
  color: #66855e; /* cor do texto */
  text-decoration: none; /* remover sublinhado padrão */
}

footer .footer__link:hover {
  text-decoration: underline; /* adicionar sublinhado ao passar o mouse */
}
